@{
    ViewData["Title"] = "Home Page";
}

<h1>Standard strength calculator for men</h1>

<p>Enter your squatting weight and this calculator will determine what your other lifts should be.</p>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="body-weight">Body weight (lbs)</label>
            <input id="body-weight" class="form-control" placeholder="153" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="squat">Squat (lbs)</label>
            <input id="squat" class="form-control" placeholder="135" />
        </div>
    </div>
</div>
<hr />
<p>Results:</p>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="bench">Bench</label>
            <input id="bench" class="form-control" placeholder="153" readonly />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="deadlift">Deadlift</label>
            <input id="deadlift" class="form-control" placeholder="135" readonly />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="press">Press</label>
            <input id="press" class="form-control" placeholder="153" readonly />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="powerclean">Power clean</label>
            <input id="powerclean" class="form-control" placeholder="135" readonly />
        </div>
    </div>
</div>